
@font-face {
	font-family: LexendBlack;
	src: url(./Lexend-Black.ttf);
}

@font-face {
	font-family: LexendBold;
	src: url(./Lexend-Bold.ttf);
}

@font-face {
	font-family: LexendExtraBold;
	src: url(./Lexend-ExtraBold.ttf);
}

@font-face {
	font-family: LexendExtraLight;
	src: url(./Lexend-ExtraLight.ttf);
}

@font-face {
	font-family: LexendLight;
	src: url(./Lexend-Light.ttf);
}

@font-face {
	font-family: LexendMedium;
	src: url(./Lexend-Medium.ttf);
}

@font-face {
	font-family: LexendRegular;
	src: url(./Lexend-Regular.ttf);
}

@font-face {
	font-family: LexendSemiBold;
	src: url(./Lexend-SemiBold.ttf);
}

@font-face {
	font-family: LexendThin;
	src: url(./Lexend-Thin.ttf);
}

@font-face {
	font-family: OutfitBlack;
	src: url(./Outfit-Black.ttf);
}

@font-face {
	font-family: OutfitBold;
	src: url(./Outfit-Bold.ttf);
}

@font-face {
	font-family: OutfitExtraBold;
	src: url(./Outfit-ExtraBold.ttf);
}

@font-face {
	font-family: OutfitExtraLight;
	src: url(./Outfit-ExtraLight.ttf);
}

@font-face {
	font-family: OutfitLight;
	src: url(./Outfit-Light.ttf);
}

@font-face {
	font-family: OutfitMedium;
	src: url(./Outfit-Medium.ttf);
}

@font-face {
	font-family: OutfitRegular;
	src: url(./Outfit-Regular.ttf);
}

@font-face {
	font-family: OutfitSemiBold;
	src: url(./Outfit-SemiBold.ttf);
}

@font-face {
	font-family: OutfitThin;
	src: url(./Outfit-Thin.ttf);
}
